.container {
  max-width: $website-width;
  padding: 0 1.5rem;
  margin: auto;
  overflow: hidden;
}

.text-primary {
  color: $main-color !important;
}

//Padding
.py {
  &-1 {
    padding: 1rem 0 !important;
  }
  &-2 {
    padding: 2rem 0 !important;
  }
  &-3 {
    padding: 3rem 0 !important;
  }
  &-4 {
    padding: 4rem 0 !important;
  }
  &-5 {
    padding: 5rem 0 !important;
  }
}

//Margin
.my {
  &-1 {
    margin: 1rem 0 !important;
  }
  &-2 {
    margin: 2rem 0 !important;
  }
  &-3 {
    margin: 3rem 0 !important;
  }
  &-4 {
    margin: 4rem 0 !important;
  }
}

//Buttons
%btn-shared {
  display: inline-block;
  padding: 0.6rem 1.5rem;
  transition: all 0.5s;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #f7f7f7;
  text-decoration: none !important;
  box-shadow: none !important;
  outline: none !important;
  font-size: 1rem;
  -webkit-appearance: inherit;
}

.btn {
  &-main {
    @extend %btn-shared;
    color: $secondary-color;
    background-color: $main-color;
  }
  &-reply {
    @extend %btn-shared;
    color: $secondary-color;
    background-color: $main-color;
    border-radius: 0px;
    font-size: 0.9rem;
  }
}

button[class^='btn-']:hover,
a[class^='btn-']:hover,
input[class^='btn-']:hover {
  background-color: set-btn-hover-color($light-color);
  color: set-text-color($light-color);
  box-shadow: none;
  outline: none;
  z-index: 0;
}

button[class^='btn-']:focus,
a[class^='btn-']:focus,
input[class^='btn-']:focus {
  box-shadow: none;
  outline: none;
}

.paginate-links {
  &-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    li {
      a {
        border-radius: 0;
        padding: 0.6rem 1rem;
        margin: auto 0.1rem;
        border: rgba(0, 0, 0, 0.1) 0.5px solid;
        &:hover,
        &.current {
          background-color: $main-color;
          color: $light-color;
        }
      }
    }
  }
}

input,
select,
textarea {
  border: 1px $light-color solid;
  padding: 10px;
  font-size: 1rem;
  //height: 25px;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  border: 1px $main-color solid;
}

#main-nav {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem 2rem;
  background: $secondary-color;
  z-index: 1;
  color: #fff;
  a {
    color: #fff;
  }
  ul {
    display: flex;
    li {
      position: relative;
      padding: 1rem 1.5rem;
    }

    a {
      text-decoration: none !important;
      color: #fff;
      text-transform: uppercase;
      border-bottom: 3px transparent solid;
      padding-bottom: 0.5rem;
      transition: border-color 0.5s;

      &:hover {
        border-color: $medium-color;
      }
      &.current {
        border-color: $main-color;
      }
    }
    .parent-sub-menu {
      &:hover ul {
        position: absolute;
        top: 3rem;
      }
    }
  }
}

%overlay {
  background-color: $overlay-color;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}

.lead {
  font-size: 1.3rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  text-align: center;
}

.placeholder-avatar {
  //background-color: red;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cursor-pt {
  cursor: pointer;
}

.loading-wrap {
  position: relative;
  height: 100%;
}

#loading-div {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.1);
  //background-color: red;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  // width: 100%;
  //height: 100%;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 100%;
  //height: 50px;
  //opacity: 0.1;
  z-index: 2;
}
.lds-ring ~ div {
  opacity: 0.4;
  pointer-events: none;
}
.lds-ring div {
  box-sizing: border-box;
  display: inline-block;
  position: absolute;
  width: 50px;
  height: 50px;
  //margin: 10px 0;
  //margin: 0 auto;
  border: 3px solid $main-color;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: $main-color transparent transparent transparent;
  left: 50%;
  margin-left: -14px;
  margin-top: 8px;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.reply-form {
  display: flex;
  align-items: flex-end;
  position: fixed;
  bottom: 100px;
  //display: none;
}

.hide {
  display: none;
}

.notification-wrapper {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 300px;
  z-index: 3;
}

.notification-item {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
  animation: SlideLeft 0.4s;
  animation-fill-mode: forwards;
  width: 300px;
}

@keyframes SlideLeft {
  0% {
    margin-left: 120%;
  }

  100% {
    margin-left: 0;
  }
}

@keyframes SlideRight {
  0% {
    margin-left: 0;
  }

  100% {
    margin-left: 120%;
  }
}

.notification-item.exit {
  animation: SlideRight 0.4s;
  animation-fill-mode: forwards;
}

.notification-item p {
  margin: 0;
  padding: 0 8px 8px 8px;
}
.notification-item .close-toast {
  font-size: 1.1rem;
  text-align: right;
  padding: 0;
  margin-right: 1rem;
  cursor: pointer;
}

.notification-item .bar {
  height: 8px;
}

.notification-item.success {
  background-color: #fff;
  .bar {
    background-color: #65d266;
  }
}

.notification-item.error {
  background-color: #fff;
  .bar {
    background-color: red;
  }
}

footer {
  background: $secondary-color;
  padding: 1.5rem;
  color: $light-color;
  text-align: center;
}
